In [1]:
#knock_52
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
x_train = pd.read_csv('../data/train_vec.txt', sep='\t')
x_valid = pd.read_csv('../data/valid_vec.txt', sep='\t')
x_test = pd.read_csv('../data/test_vec.txt', sep='\t')

In [3]:
train = pd.read_csv('../data/train.txt', sep='\t')
valid = pd.read_csv('../data/valid.txt', sep='\t')
test = pd.read_csv('../data/test.txt', sep='\t')

In [4]:
train.head()

                                               Title Category
0  Justin Bieber sucks on a cigarette to replicat...        e
1  More Than 250 New Emoji To Be Released, And We...        t
2  Amanda Bynes Posts Bikini Photos During Family...        e
3  James Franco Offers Explanation For Half-Naked...        e
4  Selena Gomez Dons Flowy Blue Dress With Keyhol...        e

In [5]:
print(len(x_train))
print(len(train['Category']))

10672
10672

In [6]:
clf = LogisticRegression(random_state=123, max_iter=10000)
clf.fit(x_train.values, train['Category'].values)

LogisticRegression(max_iter=10000, random_state=123)

In [7]:
pred = clf.predict(x_valid.values)

In [8]:
#knock_53
from sklearn.metrics import accuracy_score
import numpy as np

In [9]:
print('pridict_test_label :', clf.predict(x_test.values))

pridict_test_label : ['e' 'e' 'b' ... 'b' 'e' 'e']

In [11]:
max_proba = np.max(clf.predict_proba(x_test.values), axis=1)
print('pridict_test_proba : ', max_proba)

pridict_test_proba :  [0.71756403 0.40879801 0.65516653 ... 0.75018191 0.62772042 0.46951501]

In [12]:
#knock_54
pred = clf.predict(x_train.values)
print('train_accuracy : {:.4f}'.format(accuracy_score(train['Category'].values, pred)))
pred = clf.predict(x_test.values)
print('test_accuracy : {:.4f}'.format(accuracy_score(test['Category'].values, pred)))

train_accuracy : 0.8190
test_accuracy : 0.7856

In [37]:
pd.DataFrame(clf.predict_proba(x_valid.values), columns=clf.classes_)

             b         e         m         t
0     0.400313  0.013279  0.542081  0.044327
1     0.412850  0.322971  0.162288  0.101892
2     0.429263  0.214216  0.110810  0.245710
3     0.018176  0.900752  0.038482  0.042589
4     0.014568  0.731389  0.101784  0.152258
...        ...       ...       ...       ...
1329  0.033766  0.461092  0.300508  0.204634
1330  0.035070  0.854516  0.064555  0.045858
1331  0.645302  0.148885  0.082324  0.123489
1332  0.797962  0.044570  0.066407  0.091061
1333  0.941081  0.019394  0.020545  0.018979

[1334 rows x 4 columns]

In [14]:
#knock_55
from sklearn.metrics import confusion_matrix

In [15]:
confusion_matrix(train.Category.values, clf.predict(x_train.values))

array([[4070,  354,    4,   46],
       [ 198, 4061,    2,   16],
       [ 222,  289,  184,   16],
       [ 417,  366,    2,  425]])

In [16]:
confusion_matrix(test.Category.values, clf.predict(x_test.values))

array([[521,  40,   0,   3],
       [ 42, 453,   0,   3],
       [ 37,  37,  25,   0],
       [ 75,  48,   1,  49]])

In [17]:
#knock_56
from sklearn.metrics import precision_score, recall_score, f1_score

In [19]:
def calculate_metrics(true, predict):
    precision = precision_score(true, predict, average=None)
    precision = np.append(precision, precision_score(true, predict, average='micro'))
    precision = np.append(precision, precision_score(true, predict, average='macro'))
    
    recall = recall_score(true, predict, average=None)
    recall = np.append(recall, recall_score(true, predict, average='micro'))
    recall = np.append(recall, recall_score(true, predict, average='macro'))
    
    f1 = f1_score(true, predict, average=None)
    f1 = np.append(f1, f1_score(true, predict, average='micro'))
    f1 = np.append(f1, f1_score(true, predict, average='macro'))
    
    return precision, recall, f1

In [20]:
precision, recall, f1 = calculate_metrics(test.Category.values, clf.predict(x_test.values))

In [21]:
pd.DataFrame({'適合率': precision , '再現率': recall,  'f1': f1}, index=['b', 'e', 't', 'm', 'micro', 'macro'])

            適合率       再現率        f1
b      0.771852  0.923759  0.841001
e      0.783737  0.909639  0.842007
t      0.961538  0.252525  0.400000
m      0.890909  0.283237  0.429825
micro  0.785607  0.785607  0.785607
macro  0.852009  0.592290  0.628208

In [29]:
#knock_57

1963

In [85]:
features = x_train.columns.values

In [84]:
for i, item in enumerate(clf.classes_) :
    print(f'class : {item}')
    best10 = pd.DataFrame(features[np.argsort(clf.coef_[i])[::-1][:10]],\
                      columns=['top_10'], index=[i for i in range(1, 11)]).T
    worst10 = pd.DataFrame(features[np.argsort(clf.coef_[i])[:10]],\
                      columns=['worst_10'], index=[i for i in range(1, 11)]).T
    display(pd.concat([best10, worst10], axis=0))
    print('\n')

class : b

           1       2           3      4   5     6    7       8     9     10
top_10     us  update      stocks  china  as  euro  ecb  dollar   fed  bank
worst_10  the     and  kardashian    her  is   kim   of    with  star   she

class : e

,1,2,3,4,5,6,7,8,9,10
top_10,the,and,kardashian,kim,her,cyrus,miley,star,she,chris
worst_10,update,us,says,stocks,china,to,as,euro,ecb,dollar

class : m

,1,2,3,4,5,6,7,8,9,10
top_10,ebola,study,drug,cancer,fda,outbreak,could,mers,virus,more
worst_10,stocks,kardashian,at,kim,china,euro,ecb,dollar,deal,on

class : t

,1,2,3,4,5,6,7,8,9,10
top_10,google,apple,facebook,gm,microsoft,to,climate,mobile,comcast,samsung
worst_10,stocks,as,kardashian,kim,her,euro,fed,at,ecb,after